* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template: 15vh 75vh 10vh / minmax(320px, 100vw);
}

.header {
    background-color: red;
}

.content {
    background-color: blue;
}

.footer {
    background-color: red;
}